{{#if newCommentForm}}
  <h4>Create New Comment</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" }}
      </div>

      <div class="form-group">
        <label for="text">Comment text:</label>
        {{input value=text id="text"}}
      </div>

      <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'newCommentForm'}}>Create New Comment</button>
{{/if}}{{yield}}
